{% extends 'base.html.twig' %}

{% block title %}CircuitCategory index{% endblock %}

{% block main %}
    <h1>CircuitCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit_category in circuit_categories %}
            <tr>
                <td>{{ circuit_category.id }}</td>
                <td>{{ circuit_category.name }}</td>
                <td>{{ circuit_category.description }}</td>
                <td>
                    <a href="{{ path('circuit_category_show', {'id': circuit_category.id}) }}">show</a>
                    <a href="{{ path('circuit_category_edit', {'id': circuit_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('circuit_category_new') }}">Create new</a>
{% endblock %}
