{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Liste des circuits programmés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Durée du circuit</th>
                <th>Voir en détail</th>
                <th>Prix</th>

            </tr>
        </thead>
        <tbody>

        {% for programmation in ProgrammationCircuits %}
            <tr>
              <td>{{programmation.circuit.id}}</td>
              <td>{{programmation.circuit.description}}</td>
              <td>{{programmation.circuit.dureeCircuit}}</td>
               <a href="{{ path('front_circuit_show', {id: programmation.circuit.id}) }}">détails</a>
               <td>{{ programmation.prix }}</td>
              <td>
   <a href="{{ path('front_circuit_show', {id: programmation.circuit.id}) }}">détails</a>
                </td>

              </tr>
          {% else %}
              <tr>
                  <td colspan="2">no circuits found</td>
              </tr>
          {% endfor %}


          </tbody>
      </table>

  {% endblock %} {# body #}
