{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="circuitTitle">Liste des circuits</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pays de départ</th>
                <th>Ville de départ</th>
                <th>Date de départ</th>
                <th>Nombre de personnes</th>
                <th>Prix</th>
                <th>Voir en détail</th>
            </tr>
        </thead>
        <tbody>
          {% if programmationCircuits %}
          {% for progCircuit in programmationCircuits %}
            <tr>
                <td>{{ progCircuit.circuit.paysDepart }}</td>
                <td>{{ progCircuit.circuit.villeDepart }}</td>
                <td>{{ progCircuit.dateDepart|date("m/d/Y") }}</td>
                <td>{{ progCircuit.nombrePersonnes }}</td>
                <td>{{ progCircuit.prix }}</td>
                <td> <a class="btn btn-info btn-outline-secondary" role="button" href="{{ path('front_circuit_show', {id:progCircuit.circuit.id}) }}">Détails</a></td>
            </tr>
          {% endfor %}
          {% else %}
              <tr>
                  <td colspan="2">Aucun circuit trouvé.</td>
              </tr>
          {% endif %}
          </tbody>
      </table>

  {% endblock %} {# body #}
