{% extends 'base.html.twig' %}


{% block title %}Administration : Liste des étapes{% endblock %}

{% block main %}
    <h1>Administration : liste des étapes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroEtape</th>
                <th>VilleEtape</th>
                <th>NombreJours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
            <tr>
                <td>{{ etape.id }}</td>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}</td>
                <td>
                    <a href="{{ path('admin_etape_show', {'id': etape.id})
                      }}">Afficher</a>
                    <a href="{{ path('admin_etape_edit', {'id': etape.id})
                      }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune étape trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_etape_new') }}">Créer une nouvelle étape</a>
{% endblock %}
