{{ form_start(form) }}
    {{ form_row(form.description)}}
    {{ form_row(form.paysDepart) }}
    {{ form_row(form.villeArrivee) }}
    {{ form_row(form.villeDepart) }}
    {{ form_row(form.imageFile) }}
    <ul class="category" data-prototype="{{ form_widget(form.category.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for cat in form.category %}
            <li>{{ form_row(cat) }}</li>
        {% endfor %}
    </ul>
    <button class="btn btn-success">
      <i class="far fa-save"></i> {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}

{% block custompage_script %}
<script>
var $collectionHolder;

//setup an "add a tag" link
var $addCategoryButton = $('<button type="button" class="btn my-4">Ajouter une catégorie</button>');
var $newLinkLi = $('<li></li>').append($addCategoryButton);

jQuery(document).ready(function() {
 // Get the ul that holds the collection of tags
 $collectionHolder = $('ul.category');

 //add a delete link to all of the existing tag form li elements
 $collectionHolder.find('li').each(function() {
     addCategoryFormDeleteLink($(this));
 });

 // add the "add a tag" anchor and li to the tags ul
 $collectionHolder.append($newLinkLi);

 // count the current form inputs we have (e.g. 2), use that as the new
 // index when inserting a new item (e.g. 2)
 $collectionHolder.data('index', $collectionHolder.find(':input').length);

 $addCategoryButton.on('click', function(e) {
     // add a new tag form (see next code block)
     addCategoryForm($collectionHolder, $newLinkLi);
 });
});

function addCategoryForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);

    // add a delete link to the new form
    addCategoryFormDeleteLink($newFormLi);

    $newLinkLi.before($newFormLi);
}

function addCategoryFormDeleteLink($categoryFormLi) {
    var $removeFormButton = $('<button type="button" class="btn">Supprimer la catégorie</button>');
    $categoryFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the todo form
        $categoryFormLi.remove();
    });
}

</script>
{% endblock %}
