{% extends 'base.html.twig' %}

{% block title %}Administration : liste des circuits{% endblock %}

{% block main %}
    <h1>Administration : liste des circuits</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>PaysDepart</th>
                <th>VilleArrivee</th>
                <th>VilleDepart</th>
                <th>DureeCircuit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('admin_circuit_show', {'id': circuit.id})
                      }}"><i class="far fa-eye"></i> Afficher</a>
                    <a class="btn btn-warning" href="{{ path('admin_circuit_edit', {'id': circuit.id})
                      }}"><i class="far fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun circuit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success my-4" href="{{ path('admin_circuit_new') }}"><i class="fas fa-plus-circle"></i> Créer un nouveau circuit</a>
{% endblock %}
